/* CSS Document */

* {margin: 0;
	padding: 0;}
	
html {background-color: #F5F5F5;}
	
#container {height: 800px;}

#productContainer {position: relative; width: 900px; height: 600px;
	margin-left: auto; margin-right: auto;
	left: 45px; top: 125px;}
	
.productTitle {font-family: arial; color: gray;
	margin-bottom: 10px;}

#productBanner {width: 900px; height: 200px;
	box-shadow: 0px 0px 2px #888888;
	background-color: white;}
	
#product {position: relative; width: 600px; height: 328px; top: -80px;
	float: right; background-repeat: no-repeat; margin-right: 50px;}
	
#appDescription {position: relative; top: -180px; left: 40px;
	width: 400px; height: 150px;
	z-index: 30;}
	
#appDescription h4 {font-family: arial;
	padding: 10px;}
	
#appleCareContainer {position: relative; top: -120px;
	width: 900px; margin-left: auto; margin-right: auto;}
	
@-moz-document url-prefix() { 
  #appleCareContainer {
	   top: -120px;
  }
}
	
#appTable {margin-left: auto; margin-right: auto;
	width: 900px;
	font-family: arial; font-size: 14px;
	border-collapse: separate;
	border-spacing: 0px 30px;}

.appBackDrop {background-color: white;
	box-shadow: 0px 0px 2px #888888;}
	
.productLabel {position: relative; top: -20px;
	float: left;}

.productPicture {width: 400px; height: 160px;
	float: right;}

#foot {position: relative; top: 2120px;
	height: 150px; width: 1000px;
	margin-left: auto; margin-right: auto; left: 45px;
	background: rgb(29, 29, 29);
	border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #888888;
    border-bottom-width: 40px;
    border-bottom-style: solid;
    border-bottom-color: rgba(221, 221, 221, 1.0);}
    
#contactContainer {height: 150px;}