/* CSS Document */

/* iPod Classic, Nano & Shuffle */

#product {width: 900px; height: 283px;
	margin-left: auto; margin-right: auto;
	float: none; margin-right: 0px;}

#pricingTableNano {position: relative; top: 40px;
	width: 900px; display: flex;
	margin-left: auto; margin-right: auto;}
	
#tableNano {margin-left: auto; margin-right: auto;
	width: 900px; height: 300px;
	font-family: arial; font-size: 14px;
	border-collapse: collapse;}
	
#tableNano td{padding: 5px; padding-left: 10px;
	border-right-style:solid;
	border-right:solid 1px rgba(202,202,202,0.68);}
	
@-moz-document url-prefix() { 
  #pricingTableNano {
      top: 40px;;
  }
} 